@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
/* BASE STYLE */
.login-page {
  min-height: 100vh;
  padding: 1rem;
  background: #0d5f8a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Cairo', sans-serif;
  position: relative;
  overflow: hidden;
}

.login-title {
  font-size: 50px;
  font-weight: 1000;
  margin-bottom: 40px;
}

/* DECORATIVE ELEMENTS */
.decor {
  position: absolute;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  backdrop-filter: blur(5px);
  z-index: 0;
}

.decor-1 {
  width: 300px;
  height: 300px;
  top: 4%;
  left: 29%;
}

.decor-2 {
  width: 300px;
  height: 300px;
  bottom: 4%;
  right: 29%;
}

/* LOGIN BOX */
.login-box {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  background: rgb(255, 255, 255);
  border-radius: 3px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: center;
}

.logo {
  width: 80px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
}

/* INPUT STYLE */
.input-group {
  position: relative;
  margin-bottom: 1.2rem;
}

.icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

input {
  width: 100%;
  padding: 0.8rem 0.8rem 0.8rem 2.5rem;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 0.9rem;
}

.toggle-pass {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #000000;
}

/* ERROR MESSAGE */
.error-message {
  color: #ff4d4f;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background: rgba(255, 76, 79, 0.1);
  border-radius: 4px;
}

/* BUTTON */
button {
  width: 100%;
  padding: 0.8rem;
  background: #1797c1;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0d5f8a;
}